@import 'ant-design-vue/lib/style/color/colors';

@black: #000;
@white: #fff;

:root {
  // -------- Colors -----------
  --primary-color: @blue-6;
  --info-color: @blue-6;
  --success-color: @green-6;
  --processing-color: @blue-6;
  --error-color: @red-5;
  --highlight-color: @red-5;
  --warning-color: @gold-6;
  --normal-color: #d9d9d9;
  --white: @white;
  --black: @black;
  --component-background: --white;

  // Color used by default to control hover and active backgrounds and for
  // alert info backgrounds.
  --primary-1: color(~`colorPalette('@{blue-6}', 1) `); // replace tint(@blue-6, 90%)
  --primary-2: color(~`colorPalette('@{blue-6}', 2) `); // replace tint(@blue-6, 80%)
  --primary-3: color(~`colorPalette('@{blue-6}', 3) `); // unused
  --primary-4: color(~`colorPalette('@{blue-6}', 4) `); // unused
  --primary-5: color(
    ~`colorPalette('@{blue-6}', 5) `
  ); // color used to control the text color in many active and hover states, replace tint(@blue-6, 20%)
  --primary-6: @blue-6; // color used to control the text color of active buttons, don't use, use @blue-6
  --primary-7: color(~`colorPalette('@{blue-6}', 7) `); // replace shade(@blue-6, 5%)
  --primary-8: color(~`colorPalette('@{blue-6}', 8) `); // unused
  --primary-9: color(~`colorPalette('@{blue-6}', 9) `); // unused
  --primary-10: color(~`colorPalette('@{blue-6}', 10) `); // unused

  // Base Scaffolding Variables
  // ---

  // Background color for `<body>`
  --body-background: #fff;
  // Base background color for most components
  --component-background: #fff;
  // Popover background color
  --popover-background: --component-background;
  --popover-customize-border-color: --border-color-split;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --text-color: fade(@black, 85%);
  --text-color-secondary: fade(@black, 45%);
  --text-color-inverse: --white;
  --icon-color: inherit;
  --icon-color-hover: fade(@black, 75%);
  --heading-color: fade(@black, 85%);
  --text-color-dark: fade(@white, 85%);
  --text-color-secondary-dark: fade(@white, 65%);
  --text-selection-bg: @blue-6;
  --font-variant-base: tabular-nums;
  --font-feature-settings-base: 'tnum';
  --font-size-base: 14px;
  --font-size-lg: --font-size-base + 2px;
  --font-size-sm: 12px;
  --heading-1-size: ceil(--font-size-base * 2.71);
  --heading-2-size: ceil(--font-size-base * 2.14);
  --heading-3-size: ceil(--font-size-base * 1.71);
  --heading-4-size: ceil(--font-size-base * 1.42);
  --heading-5-size: ceil(--font-size-base * 1.14);
  // https://github.com/ant-design/ant-design/issues/20210
  --line-height-base: 1.5715;
  --border-radius-base: 2px;
  --border-radius-sm: --border-radius-base;

  // vertical paddings
  --padding-lg: 24px; // containers
  --padding-md: 16px; // small containers and buttons
  --padding-sm: 12px; // Form controls and items
  --padding-xs: 8px; // small items
  --padding-xss: 4px; // more small

  // vertical padding for all form controls
  --control-padding-horizontal: --padding-sm;
  --control-padding-horizontal-sm: --padding-xs;

  // vertical margins
  --margin-lg: 24px; // containers
  --margin-md: 16px; // small containers and buttons
  --margin-sm: 12px; // Form controls and items
  --margin-xs: 8px; // small items
  --margin-xss: 4px; // more small

  // height rules
  --height-base: 32px;
  --height-lg: 40px;
  --height-sm: 24px;

  // The background colors for active and hover states for things like
  // list items or table cells.
  --item-active-bg: --primary-1;
  --item-hover-bg: #f5f5f5;

  // ICONFONT
  --iconfont-css-prefix: anticon;

  // Border color
  --border-color-base: hsv(0, 0, 85%); // base border outline a component
  --border-color-split: hsv(0, 0, 94%); // split border inside a component
  --border-color-inverse: --white;
  --border-width-base: 1px; // width of the border for a component
  --border-style-base: solid; // style of a components border

  // LINK
  --link-color: @blue-6;
  --link-hover-color: color(~`colorPalette('@{blue-6}', 5) `);
  --link-active-color: color(~`colorPalette('@{blue-6}', 7) `);
  --link-decoration: none;
  --link-hover-decoration: none;
  --link-focus-decoration: none;
  --link-focus-outline: 0;

  // Animation
  --ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
  --ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  --ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  // Outline
  --outline-blur-size: 0;
  --outline-width: 2px;
  --outline-color: @blue-6;

  --background-color-light: hsv(0, 0, 98%); // background of header and selected item
  --background-color-base: hsv(0, 0, 96%); // Default grey background color

  // Disabled states
  --disabled-color: fade(@black, 25%);
  --disabled-bg: --background-color-base;
  --disabled-color-dark: fade(@white, 35%);

  // Shadow
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-color-inverse: --component-background;
  --shadow-1-down: 0 2px 8px --shadow-color;
  --box-shadow-base: --shadow-1-down;
  --shadow-1-up: 0 -2px 8px --shadow-color;
  --shadow-1-left: -2px 0 8px --shadow-color;
  --shadow-1-right: 2px 0 8px --shadow-color;
  --shadow-2: 0 4px 12px --shadow-color;
}

[theme='dark'] {
  // Layer background
  --popover-background: #1f1f1f;
  --popover-customize-border-color: #3a3a3a;
  --body-background: --black;
  --component-background: #141414;

  --text-color: fade(@white, 85%);
  --text-color-secondary: fade(@white, 45%);
  --text-color-inverse: @white;
  --icon-color-hover: fade(@white, 75%);
  --heading-color: fade(@white, 85%);

  // The background colors for active and hover states for things like
  // list items or table cells.
  --item-active-bg: --primary-1;
  --item-hover-bg: fade(@white, 8%);

  // Border color
  --border-color-base: #434343; // base border outline a component
  --border-color-split: #303030; // split border inside a component

  --background-color-light: fade(@white, 4%); // background of header and selected item
  --background-color-base: fade(@white, 8%); // Default grey background color

  // Disabled states
  --disabled-color: fade(@white, 30%);
  --disabled-bg: --background-color-base;
  --disabled-color-dark: fade(@white, 30%);

  // Tree
  // ---
  --tree-bg: transparent;

  // List
  // ---
  --list-customize-card-bg: transparent;

  // Shadow
  // ---
  --shadow-color: rgba(0, 0, 0, 0.45);
  --shadow-color-inverse: --component-background;

  --shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.32), 0 -9px 28px 0 rgba(0, 0, 0, 0.2),
    0 -12px 48px 16px rgba(0, 0, 0, 0.12);
  --shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.32), 0 9px 28px 0 rgba(0, 0, 0, 0.2),
    0 12px 48px 16px rgba(0, 0, 0, 0.12);
  --shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.32), 9px 0 28px 0 rgba(0, 0, 0, 0.2),
    12px 0 48px 16px rgba(0, 0, 0, 0.12);
  --shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 16px 0 rgba(0, 0, 0, 0.32),
    0 9px 28px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-base: --shadow-2;
}
