html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  color: @text-color;
}

#app {
  height: 100%;
  user-select: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// collapse
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 4px 18px;
  padding-left: 40px;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-tabs .ant-tabs-left-content {
  padding-left: 0;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  padding: 4px 10px;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  margin-right: 0;
}
.ant-tabs-vertical.ant-tabs-line.ant-tabs.ant-tabs-left {
  height: 100%;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: @border-color-base;
}

.anticon {
  cursor: pointer;
}

.ant-timeline-item {
  padding-bottom: 10px;
}

.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: 10px;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid @border-color-base;
}

.ant-collapse-content {
  border-top: 1px solid @border-color-base;
}
