html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  color: @text-color;
  @apply h-full overflow-hidden;
}

#app {
  @apply h-full select-none;
}

ul,
li {
  @apply list-none m-0 p-0;
}

// collapse
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  @apply px-18px py-4px;
}

.ant-input.ant-input-sm[type='color'] {
  @apply h-auto;
}

.ant-drawer-body .ant-divider-inner-text span:hover {
  color: @primary-color;
}
