{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-html/vue"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["width", "height"],
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["deep"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["apply"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["packages/**/*.less"],
      "customSyntax": "postcss-less"
    }
  ],
  "ignoreFiles": ["dist", "node_modules"]
}
