$el-primary-1: #53a8ff;
$el-primary-2: #66b1ff;
$el-primary-3: #79bbff;
$el-primary-4: #8cc5ff;
$el-primary-5: #a0cfff;
$el-primary-6: #b3d8ff;
$el-primary-7: #c6e2ff;
$el-primary-8: #ecf5ff;

$el-success-1: #67c23a;
$el-success-2: #e1f3d8;
$el-success-3: #f0f9eb;

$el-warning-1: #e6a23c;
$el-warning-2: #faecd8;
$el-warning-3: #fdf6ec;

$el-danger-1: #f56c6c;
$el-danger-2: #fde2e2;
$el-danger-3: #fef0f0;

$el-info-1: #909399;
$el-info-2: #e9e9eb;
$el-info-3: #f4f4f5;

$el-text-1: #303133;
$el-text-2: #606266;
$el-text-3: #909399;
$el-text-4: #c0c4cc;

$el-border-1: #dcdfe6;
$el-border-2: #e4e7ed;
$el-border-3: #ebeef5;
$el-border-4: #f2f6fc;

$el-shadow-1: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$el-shadow-2: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

$el-black: #000;
$el-white: #fff;
