.layer-panel {
  position: relative;
  width: 200px;
  height: 100%;
  border-right: 1px solid @border-color-base;
  transition: width 0.3s @ease-in-out;
  z-index: 4;
  overflow: hidden;
  white-space: nowrap;
  background-color: @component-background;

  .ant-empty {
    margin-top: 20px;
  }

  .--disable {
    opacity: 0.3;
  }

  &.--hide {
    width: 0;
    border: 0;
  }

  &__header {
    height: 30px;
    background-color: @layout-body-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;

    section {
      display: flex;
    }

    span {
      margin-left: 5px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: @primary-color;
      }

      &.--active {
        color: @primary-color;
      }
    }
  }

  &__wrapper {
    height: calc(100% - 60px);
  }

  &__toolbar {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 27px;
    border-bottom: 1px solid @border-color-base;
    background-color: @component-background;

    span {
      padding: 3px;
      cursor: pointer;

      &:hover {
        background-color: @primary-color;
        color: @white;
      }
    }
  }

  &__box {
    height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
    li {
      position: relative;
      width: 100%;
      padding-left: 8px;
      padding-right: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: @item-hover-bg;
      }

      &.--active {
        color: @white;
        background-color: @primary-color;
      }
    }

    .--item {
      line-height: 32px;
      height: 32px;
      display: flex;
      align-items: center;

      b {
        margin-left: 5px;
        font-weight: normal;
      }
    }

    .--thumbail {
      height: 48px;
      line-height: 48px;

      img {
        width: 51px;
        height: 34px;
        border: 1px solid @border-color-base;
        background-color: @body-background;
      }

      b {
        margin-left: 5px;
        font-weight: normal;
      }
    }

    .--animated {
      transition: transform 0.3s @ease-in-out;
    }

    .--icon {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  &__footer {
    height: 30px;
    border-top: 1px solid @border-color-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 50px;

    span {
      padding: 3px;
      cursor: pointer;

      &:hover {
        background-color: @primary-color;
        color: @white;
      }
    }

    .--icon {
      background-color: @primary-color;
      color: @text-color-inverse;
    }
  }
}
